:root {
  --Pink: hsl(322, 100%, 66%);
  --Very_Pale_Cyan: hsl(193, 100%, 96%);
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Grayish_Blue: hsl(208, 11%, 55%);
}

@font-face {
  font-family: "";
  src: url("");
  /* font-weight: ; */
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* 
    ### Body, Call-to-actions
    font-family: 'Open Sans', sans-serif;
    ### Headings
    font-family: 'Poppins', sans-serif; */

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--Very_Dark_Cyan);
}

main {
  min-height: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
  min-height: 100%;
}

.resetBtnStyle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-intro {
  background-image: url("../images/bg-hero-desktop.svg");
  background-color: var(--Very_Pale_Cyan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
}
.header__logo img {
  max-width: 100%;
}

.header__trial-btn {
  background-color: #fff;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0px 0px 26px -1px rgb(212, 212, 212);
  padding: 0px;
  max-width: 200px;
  padding: 1em;
  width: 100%;
}
.description .content {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.description__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.description__heading {
  font-family: "Poppins";
  font-weight: 600;
  margin: 0px;
}

.description__info {
  max-width: 50ch;
  width: 100%;
}

.description__free-start-btn {
  background-color: var(--Pink);
  color: #fff;
  border-radius: 50px;
  padding: 1em 3em;
  font-weight: 600;
}

.description__illustration {
  width: 50%;
}

.illustration__img {
  max-width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 850px) {
  .site-intro {
    background-image: url("../images/bg-hero-mobile.svg");
  }
  .content {
    width: 90%;
  }
  .header__logo {
    scale: 0.7;
    transform-origin: left center;
  }

  .description .content {
    flex-direction: column;
    gap: 50px;
  }

  .description__section,
  .description__illustration {
    width: 100%;
  }
  .description__section {
    align-items: center;
    text-align: center;
  }
  .header__trial-btn {
    width: 150px;
  }
}
