:root {
  --Pink: hsl(322, 100%, 66%);
  --Very_Pale_Cyan: hsl(193, 100%, 96%);
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Grayish_Blue: hsl(208, 11%, 55%);
}

@font-face {
  font-family: "";
  src: url("");
  /* font-weight: ; */
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* 
    ### Body, Call-to-actions
    font-family: 'Open Sans', sans-serif;
    ### Headings
    font-family: 'Poppins', sans-serif; */

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--Very_Dark_Cyan);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100%;
}

.content {
  width: 75vw;
  margin: 0 auto;
  min-height: 100%;
}

.resetBtnStyle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-intro {
  background-image: url("../images/bg-hero-desktop.svg");
  background-color: var(--Very_Pale_Cyan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 75px;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
  gap: 20px;
}

.header__logo img {
  max-width: 100%;
}

.header__trial-btn {
  background-color: #fff;
  border-radius: 50px;
  color: var(--Very_Dark_Cyan);
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 0px 26px -1px rgb(212, 212, 212);
  padding: 0px;
  max-width: 200px;
  padding: 0.8em;
  width: 100%;
}

.description .content {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.description__section,
.description__illustration {
  width: 50%;
}

.description__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.description__heading {
  font-weight: 600;
  margin: 0px;
  width: 100%;
  max-width: 17ch;
}

.description__info {
  max-width: 50ch;
  width: 100%;
}

.description__free-start-btn {
  background-color: var(--Pink);
  color: #fff;
  border-radius: 50px;
  padding: 1em 3em;
  font-weight: 600;
}

.illustration__img {
  max-width: 100%;
}

.feature-card {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 7px 0px rgb(231, 228, 228);
}

.feature-card__description {
  width: 50%;
}

.feature-card__description__heading {
  margin-bottom: 20px;
}

.feature-card__description__info {
  color: var(--Grayish_Blue);
  width: 100%;
  max-width: 55ch;
}

.feature-card__illustration {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.feature-card:nth-child(even) > .feature-card__illustration {
  order: -1;
  justify-content: flex-start;
}

.feature-card__illustration__img {
  max-width: 75%;
}

.join-section {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 0px 5px 0px rgba(123, 123, 123, 0.429);
  translate: 0px 50%;
}

.join-section_heading {
  font-size: 2rem;
  text-align: center;
}

.join-section__join-btn {
  background-color: var(--Pink);
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  max-width: 350px;
  width: 100%;
  padding: 1.2em;
  box-shadow: 0px 0px 7px 0px rgb(231, 228, 228);
}

footer {
  background-color: var(--Very_Dark_Cyan);
  padding-top: 15rem;
  padding-bottom:4rem;
}

.footer__company-logo {
  margin-bottom: 50px;
}

.footer__company-logo path {
  fill: currentColor;
  color: #fff;
}


footer .content .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.company-contact {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.company-contact__info {
  color: #fff;
  max-width: 40ch;
}

.nav__list {
  display: grid;
  justify-items: start;
  grid-auto-flow:column;
  grid-template-rows:1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 50px;
  list-style-type: none;
}

.nav__item {
  width: 120px;
}

.nav__item__btn {
  color: #fff;
}

.social-media-nav {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

.social-media__list {
  display: flex;
  gap: 20px;
}

.social-media__item img {
  box-sizing: content-box;
  border: 1px #fff solid;
  border-radius: 50%;
  width: 20px;
  padding: 10px;
}
.copyRights {
  color: #fff;
  font-size: 14px;

}

@media only screen and (max-width: 850px) {
  .site-intro {
    background-image: url("../images/bg-hero-mobile.svg");
  }
  .content {
    width: 90%;
  }
  .header__logo {
    /* scale: 0.7; */
    transform-origin: left center;
  }
  .header__trial-btn {
    width: 180px;
  }

  .description .content {
    flex-direction: column;
    gap: 50px;
  }

  .description__section,
  .description__illustration {
    width: 100%;
  }

  .description__section {
    align-items: center;
    text-align: center;
  }

  .description__heading {
    font-size: clamp(1.5rem, 0.3837rem + 6.2791vw, 3rem);
  }

  .description__info {
    font-size: clamp(1rem, 0.6279rem + 2.093vw, 1.5rem);
    max-width: 40ch;
  }
  .header__trial-btn {
    font-size: 18px;
  }

  .feature-card {
    padding-inline: 1rem;
    padding-block: 6rem;
    flex-direction: column;
  }

  .feature-card > .feature-card__illustration {
    order: -1;
    margin-bottom: 70px;
  }

  .feature-card > * {
    width: 100%;
  }
  .feature-card__description__heading,
  .feature-card__description__info {
    text-align: center;
  }
  .feature-card__description__heading {
    font-size: clamp(1.5rem, 0.7558rem + 4.186vw, 2.5rem);
  }

  .feature-card__description__info {
    max-width: 32ch;
    margin: 0 auto;
    font-size: clamp(1rem, 0.4791rem + 2.9302vw, 1.7rem);
  }

  .feature-card__illustration {
    justify-content: center !important;
  }
  .feature-card__illustration__img {
    max-width: 85%;
  }

  .join-section {
    width: 90vw;
  }

  footer .content .content {
    gap: 40px;
    flex-direction: column;
  }

  .nav__list {
    grid-auto-flow: row;
    grid-template-rows: initial;
  }
  .copyRights{
  position: initial;

  }
  .social-media-nav {
    align-items: center;
    gap: 10px;
  }
}
